body {
    margin: 0;
    background: #047857;
    max-width: 800px;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: space-around;

}
#player-name{
    font-family: Verdana;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color:#EEEEEE;
    text-shadow: 0 0  2px #080001;
    padding: 0;
    height: 36px;
    width: 149px;
    margin: 21px 0;
    
}
#score-board{
    font-family: 'Cursed Timer ULiL';
    background: #080001;
    width: 155px;
    height: 120px;
    color: #F94F6D;
    font-size: 90px;
    font-weight: 400;
    line-height: 127px;
    text-align: center;
    border-radius: 5px;
}
#score-btn{
    display:flex;
    justify-content: space-between;
    margin-top: 26px;
}
#point-btn{
    font-family: 'Cursed Timer ULiL';
    border: 2px solid #34D399;
    border-radius: 5px;
    height: 45px;
    width: 45px;
    
}
#point-reset-btn{
    font-family: Verdana;
    font-weight: 700;
    font-size: 20px;
    display:block;
    margin: 10px auto;
    border: 2px solid #34D399;
    border-radius: 5px;
    padding: 10px 20px;
    
}